.product-container{
    display: grid;
    grid-template-columns: 0.2fr 1fr;
}
.product-flex{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.product-card-container{
    border: 1px solid gray;
    width: 75%;
    margin: 1rem;
    background-color: #fefefe;
    border-radius: 10px;
}
.product-flex-1{
    display: flex;
}
.filter-container{
    padding: 0.5rem;
    border: 1px solid gray;
    width: 10%;
}
select {
    border: none;
    outline: none;
    scroll-behavior: smooth;
}
.product-rating{
    position: absolute;
    background-color: #f4ff44;
    padding: 0.1rem;
    border-radius: 3px;
    margin: 0rem 12rem;
    font-weight: 500;
    border: 1px solid #e7dada;
}
.category-title{
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 500;
}
.category-btn{
    font-size: 1.2rem;
    font-weight: 400;
    margin: 0.5rem  2rem;
}
.category-btn:hover{
    border-bottom: 1px solid black;
    color: rgb(109, 105, 105);
}