.featured-card-container{
    border-radius: 1rem;
    margin: 2rem 5rem;
    border: 1px solid gray;
    width: 15%;
}
.product-img{
    width: 10rem;
    height: 5rem;
    margin: 1rem 0rem 1rem 2rem;
    border-radius: 1rem;
}
.card-title-1, .card-price-1{
    font-size: 0.8rem;
    margin-left: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 500;
    color: black;
}
.card-flex{
    display: flex;
}
.featured-title{
    font-size: 2rem;
    font-weight: 500;
    margin: 1.5rem;
}
.flex{
    display: flex;
}
.wrapper{
    width: 1rem;
    height: 1rem;
}