body{
    margin: 0;
}
.container{
    display: grid;
    gap: 20px;
    grid-template-areas: 
    'header header header header header header'
    'aside main main main main main'
    'footer footer footer footer footer footer'
    ;
}
.header{
    grid-area: header;
}
.aside{
    padding: 10px;
    grid-area: aside;
}
.main{
    grid-area: main;
}
.footer{
    padding: 10px;
    grid-area: footer;
}